// Custom mobile style for blogapp/templates/blogapp/bottom_navbar_mobile.html

@use "../core" as c;
@use "../abstracts" as abs;

/*
RFS is a unit resizing engine which was initially developed to 
resize font sizes (hence its abbreviation for Responsive Font Sizes).
Nowadays RFS is capable of rescaling basically every value for any css 
property with units, like margin, padding, border-radius or even box-shadow.

Source: https://www.npmjs.com/package/rfs
 */
@import "../../../node_modules/rfs/scss";

// bottom_navbar_mobile --> parent class
.bottom_navbar_mobile{
  display: none;
  @media (max-width:768px){
    display: flex;
    background-color: purple;
    position: fixed;
    bottom: 0;
    min-width: 100%;
    overflow-x: auto;
  }
}
