{% block content %}
  <div class="bottom_navbar_mobile">
    <!-- Home-Page-Link -->
    <a class="bottom_navbar_mobile__links bottom_navbar_mobile__links--home" href="#" title="home_page">
      <i class="fa-solid fa-house-chimney"></i>
      <span class="bottom_navbar_mobile__links__text">home</span>
    </a>
    <!-- Book-Reviews-Link -->
    <a class="bottom_navbar_mobile__links bottom_navbar_mobile__links--reviews" href="#" title="book_reviews">
      <i class="fa-solid fa-book"></i>
      <span class="bottom_navbar_mobile__links__text">book reviews</span>
    </a>
    <!-- Explore-Link -->
    <a class="bottom_navbar_mobile__links bottom_navbar_mobile__links--explore" href="#" title="explore">
      <i class="fa-solid fa-compass"></i>
      <span class="bottom_navbar_mobile__links__text">explore</span>
    </a>
    <!-- Videos-Page-Link -->
    <a class="bottom_navbar_mobile__links bottom_navbar_mobile__links--videos" href="#" title="videos">
      <i class="fa-solid fa-clapperboard"></i>
      <span class="bottom_navbar_mobile__links__text">videos</span>
    </a>
    <!-- Search-Page-Link -->
    <a class="bottom_navbar_mobile__links bottom_navbar_mobile__links--search" href="#" title="search">
      <i class="fa-brands fa-searchengin"></i>
      <span class="bottom_navbar_mobile__links__text">search</span>
    </a>
  </div>
{% endblock content %}
